body {
	text-align: center;
}

.calcMain {
	text-align: center;
	height: 560px;
	width: 400px;
	background-color: #0f5a9d;
	border: solid 2px #0059A8;
	border-radius: 10px;
	box-shadow: 8px 8px #014078;
	position: relative;
	margin: 0 auto;
}

.displayWindow {
	height: 100px;
	width: 350px;
	background-color: #A2A2A2;
	border: solid 2px #7D7D7D;
	border-radius: 5px;
	position: relative;
	margin: 20px auto;
}
.solarBlock{
	height: 40px;
	width: 50px;
	background-color: #696969;
	border-right: solid 3px black;
	float: left;
	margin: 0px 0px 10px 0px;
	box-shadow: 3px -3px 1px 2px rgba(66,66,66,1);
}
.solar{
	margin-left: 20px;
}
.solarBlockEnd{
	height: 40px;
	width: 50px;
	background-color: #696969;
	box-shadow: 5px 5px 0px 0px;
	float: left;
	margin-bottom: 10px;
	box-shadow: 3px -3px 1px 2px rgba(66,66,66,1);
}

.button {
	text-align: left;
	height: 50px;
	width: 65px;
	background-color: white;
	border-radius: 5px;
	margin: 0 10px 10px 20px;
	float: left;
	font-family: 'Catamaran', sans-serif;
	color: #0f5a9d;
	font-weight: bolder;
	font-size: 16px;
	box-shadow: 3px 3px #E9EEF2;

}
.buttonRow{
	clear: both;
	margin-top: 10px;
}

p{
	padding-left: 5px;
	margin-top: 2px;
}

#equals {
	height: 80px;
	position: relative;
}

.endRow{
	clear: left;
}

.funcButton {
	height: 50px;
	width: 65px;
	background-color: #c22b30;
	border: solid 2px #B30006;
	border-radius: 5px;
	margin: 0 10px 10px 20px;
	float: right;
	font-family: 'Catamaran', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	box-shadow: 3px 3px #B30006;
}
.onbtn{
	text-align: left;
	height: 46px;
	width: 61px;
	background-color: #c22b30;
	border: solid 2px #B30006;
	border-radius: 5px;
	margin: 0 10px 10px 20px;
	float: left;
	font-family: 'Catamaran', sans-serif;
	color: white;
	font-size: 20px;
	font-weight: bolder;
	box-shadow: 3px 3px #B30006;
}
.funcButton:hover, .onbtn:hover, .button:hover {
	cursor: pointer;
}

.top{
	float: left;
}
.numButtons {
	padding-top: 80px;
}
.input {
	font-family: 'Orbitron', sans-serif;
	height: 35px;
	clear: top;
	text-align: right;

}
.output {
	font-family: 'Orbitron', sans-serif;
	height: 65px;
	text-align: right;
	font-size: 50px;
}